[submodule "digital-garden-hugo-theme"]
	path = digital-garden-hugo-theme
	url = https://github.com/apvarun/digital-garden-hugo-theme
[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/tdgao/hugo-theme-cactus
